<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div>

    <form method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="text" name="amount" placeholder="Введите размер ставки"/>
        <input type="number" name="itemId" placeholder="Укажите на какой лот"/>
        <button type="submit">"Add</button>
    </form>
</div>
<div> Список пользователей</div>
<form method="post" action="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <input type="text" name="item">
    <button type="submit">Find</button>
</form>
{{#bet}}
    <div>
        <b>ID: {{id}}|</b>
        <span>Amount:  {{amount}}|</span>
        <time>Ignition Time:  {{initTime}}|</time>
        Item:  {{#item}}|
        <div>
            <b>{{id}}</b>
            <span> {{amount}}</span>
            <time> {{initTime}}</time>
            <i>{{item}}</i>

        </div>
    {{/item}}

    </div>
{{/bet}}
<p>Click <a href="/users">here</a> to see a users.</p>
<p>Click <a href="/items">here</a> to see a items.</p>

<form action="logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <input type="submit" value="Sign Out"/>
</form>
</body>



</html>
