<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1>Hello world!</h1>

<a href="/login"> Login at Auction</a>
<a href="/registration"> Registration new Guest</a>
<p>Click <a href="/users">here</a> to see a users.</p>
<p>Click <a href="/bets">here</a> to see a bets.</p>
<p>Click <a href="/items">here</a> to see a items.</p>
</body>
</html>