<html lang="en">
<body>
<div>

    <form method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="text" name="name" placeholder="Введите имя"/>
        <input type="text" name="address" placeholder="Введите адрес"/>
        <input type="number" name="age" placeholder="Введите возраст"/>
        <button type="submit">"Add</button>
    </form>
</div>
<div> Список пользователей</div>
<form method="post" action="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <input type="text" name="name">
    <button type="submit">Find</button>
</form>
{{#usr}}
    <div>
        <td>id: {{id}}|</td>
        <td>name:  {{name}} |</td>
        <td>address:  {{address}}|</td>
        <td>age: {{age}}|</td>
    </div>
{{/usr}}
<p>Click <a href="/bets">here</a> to see a bets.</p>
<p>Click <a href="/items">here</a> to see a items.</p>

<form action="logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <input type="submit" value="Sign Out"/>
</form>
</body>

</html>
